@charset "UTF-8";
/* CSS Document */


/* ==========================================================================
   HOME
   ========================================================================== */

.home-slide h1 {
margin-top: 0px;
margin-bottom: 0px;
font-size: 18px;
font-family: 'Roboto';
text-transform: uppercase;
}

.excerpt p {
color: #929292;
font-size: 12px;
font-family: "roboto";
}

i.fa.fa-chevron-right.blog-angle {
text-align: center;
display: block;
font-size: 52px;
clear: none;
color: #fff;
margin-top: 25%;
}

footer {
background: rgba(52,52,52, .9);
width: 100%!important;
margin: 0!important;
}

.navbar-default {
border-color: transparent!important;
}

.navbar-nav li a {
font-size: 12px;
font-weight: bold;
letter-spacing: 5px;
text-transform: uppercase;
}

p.song-title {
color: #929292;
line-height: 1.7;
margin-right: 15px;
font-size: 12px;
font-weight: bold;
letter-spacing: 1px;
}

a.btn.read-more {
background: rgba(255,255,255,.85);
color: #555;
border-radius: 0px;
padding: 5px 5px 3px 5px;
font-weight: bold;
float: left;
margin-top: 25px;
text-transform: uppercase;
font-family: "roboto";
font-size: 12px;
transition: background .3s ease;
}

a.btn.read-more:hover {
background: rgba(255,255,255,1);
}

.archive-image.imgLiquid_bgSize.imgLiquid_ready {
margin-bottom: 30px;
}

div#tribe-events-content h2, a {
color: #FFF!important;
font-family: "roboto"!important;
}

.video-container .archive-image.video.imgLiquid_bgSize.imgLiquid_ready {
margin-bottom: 0;
}

.video-container h4 {
background-color: #000;
padding: 10px 10px 0px 10px;
margin-top: 0;
margin-bottom: 0;
}

.video-container p {
background-color: #000;
padding: 0px 10px 10px 10px;
margin-top: 0;
color: #929292;
font-size: 12px;
}


@media (min-width: 768px) {
div#audio-player {
width: 25%;
float: right;
max-height: 25px;
margin-top: 15px;
}

.video-container {
margin: 0 -5px;
}

}