/*!
 * Roots 6.5.0
 */


/* ==========================================================================
   Base
   ========================================================================== */

body { }

div#e2ma_signup_image_container {
display: none;
}
.av-bg {
padding-top: 200px;
padding-bottom: 20px;
background: url(../img/top-photo.jpg) no-repeat;
background-size: contain;
}
.overlay {
position: fixed;
top: 0;
bottom: 0;
right: 0;
left: 0;
background: rgba(0,0,0,.7);
}
.col {
margin: 0 5%;
}
div#e2ma_signup_message {
display: none;
}
input#e2ma_signup_reset_button{
   display: none!important;
}
.e2ma_signup_form_required_footnote {
display: none!important;
}
.sign-up{
   background: url(../img/sign-up.png);
}
a{
   color: #BB2F7E;
   text-decoration: none;
}
a:hover{
   color: #13A468;
   text-decoration: none;
}
h1, h2, h3, h4, h5, h6, p, a, *{
   font-family: 'Roboto Condensed';
}
h1{
   font-size: 32px;
   font-weight: bold;
   color: #fff;
}
h2 {
font-size: 38px;
color: #F8B2DA;
font-style: normal;
}
h3{
   font-size: 16px;
   color: #929292;
   font-weight: bold;
   letter-spacing: 4px;
   transition: color ease .4s;
}
h3:hover{
   transition: color ease .4s;
   color: #fff;
}
h4{
   font-size: 18px;
   text-transform: uppercase;
   color: #fff;
   font-weight: bold;
}
p{
   font-size: 16px;
   color: #fff;
   line-height: 1.6;
   font-weight:100;
   margin-bottom:25px;
   line-height:1.4;
}
.blue{
   font-family: 'ff-market-web';
   font-size: 21px;
   color: #13A468;
}
.e2ma_signup_form_label {
display: none;
}
.e2ma_signup_form_element{
   margin-left: 0px!important;
}
.e2ma_signup_form_row {
width: 70%;
margin: 0 auto;
border: transparent!important;
}
.e2ma_signup_form {
width: 100%!important;
}
.e2ma_signup_form_button_row {
 float: none!important;
}
input#e2ma_signup_submit_button {
border: transparent;
margin: 0 auto;
width: 99%!important;
background: transparent;
}
.sign-up {
background: url(../img/sign-up.png);
padding: 10px 25px;
text-align: center;
border: 5px solid #A7A7A7;
}
::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {
   color: #635562;
   font-size: 14px;
   font-family: 'adriane';
}
#e2ma_signup_submit_button{
   font-family: 'abril-fatface';
   font-size: 18px;
   color: #BB2F7E;
}
#e2ma_signup_submit_button:hover{
   color: #13A468;
}
.line-bg{
   background: url(../img/video-tile.jpg);
   padding: 5% 0px;
}
.line-bg h1 {
margin-top: 0px;
text-align: center;
}
.center-text{
   text-align: center;
}
.tweet-box{
   background: url(../img/tweet-me.jpg);
border: 5px solid #A7A7A7;
padding: 25px 0;
}
textarea#question_text {
width: 75%;
min-height: 150px;
clear: both;
}
a#talk_btn {
display: block;
color: #BB2F7E;
font-size: 26px;
font-family: 'abril-fatface';
text-decoration: none;
}
a#talk_btn:hover{
   color: #13A468;
   text-decoration: none;
}
.page-template-template-splash-php header {
display: none;
}
.bottom-row{
   padding: 5% 0px;
}

.tribe-events-event-meta.vcard {
color: #fff;
}

.navbar-default {
border-color: transparent!important;
}

.navbar-nav li a {
font-size: 12px;
font-weight: bold;
letter-spacing: 5px;
text-transform: uppercase;
color: #8B8B8B!important;
text-rendering: optimizeLegibility;
transition:  color .3s ease;
}

.navbar-nav li a:hover {
color: #FFF!important;
}

/* ==========================================================================
   Header
   ========================================================================== */

.banner {background: rgba(43, 43, 43, 0.9); color: color: #929292;}

/*Music Controls*/
.music-controls>li {
display: inline-block;
}

.music-controls{
   list-style: none;
   display: inline-block;
}

.music-player h4 {
display: inline-block;
}

.sm2_playing>.fa:before{
  content: "\f04c";
}

.music-player{
   float: right;
}

.fa a{
   text-decoration: none!important;
}

p.play, p.pause, .prev-track, .next-track {
font-size: 18px!important;
}

ol.playlist {
float: left;
padding: 0;
width: auto;
}

.playlist {
list-style: none;
margin-bottom: 0px;
}

.playlist>li {
display: none;
}

li.playing {
display: block!important;
color: rgb(131, 131, 131);
font-size: 11px;
}

div#audiojs_wrapper0 {
height: 30px;
margin-bottom: 10px;
background: transparent;
-webkit-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.0);
-moz-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.0);
-o-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.0);
box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.0);
width: 30%;
float: right;
width: 80px;
}

.scrubber-wrap {
display: none;
}

.time {
display: none;
}

.loaded{
   background: #EEEFF1!important;
}

/*Fix music icons*/
.audiojs .play {
background: none!important;
width: 100%!important;
line-height: inherit;
}

.audiojs .pause {
background: none!important;
width: 100%!important;
}

.audiojs .loading {
background: url("../js/player-graphics.gif") -2px -31px no-repeat!important;
}

.audiojs .error {
background: url("../js/player-graphics.gif") -2px -61px no-repeat;
}

.next-track, .prev-track, .play-pause {
width: 25px;
height: 100%;
float: left;
color: rgb(131, 131, 131);
text-align: center;
padding: 0px 3px!important;
margin: 0px;
overflow: hidden;
border-right: 0px solid #000!important;
background: transparent;
font-size: 18px;
}


.banner {
margin-bottom: 0px;
}
/* ==========================================================================
   Content
   ========================================================================== */

.content {
min-height: 80vh;
}



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }

/* ==========================================================================
   Photos
   ========================================================================== */

#carousel li {
padding-bottom: 1%;
z-index: 3;
}
.gal-list-bg{
   background: #272727;
   text-align: center;
}
.col-sm-12.photo-full-width {
padding: 0;
}
div#slider, div#carousel{
   border: transparent;
}
.news .wrap.container-fluid, .blog .wrap.container-fluid {
width: 1170px;
}

/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }

ul#menu-social {
text-align: center;
padding:5px;
}

ul#menu-social li {
display:inline-block;
}

ul#menu-social li a i {
color: #6F6F6F;
padding: 0px 15px;
font-size: 30px;
transition: color .3s ease;
}

ul#menu-social li a i:hover {
color: #FF5182;
}

.news .wrap.container-fluid, .blog .wrap.container-fluid {
width: 1200px;
}

.news .archive-image, .blog .archive-image {
width: 100%;
padding-bottom: 30%;
}

a.btn.read-more {
background: rgba(255,255,255,.85);
color: #555!important;
border-radius: 0px;
padding: 5px 5px 3px 5px;
font-weight: bold;
float: left;
margin-top: 25px;
text-transform: uppercase;
font-family: "Roboto Condensed";
font-size: 12px;
transition: background .3s ease;
}

a.btn.read-more:hover {
background: rgba(255,255,255,1);
}

.blog-arc-single h1 {
margin-bottom: 0;
}

p.meta {
color: #929292;
}

/* ==========================================================================
   HOME
   ========================================================================== */

i.fa.fa-chevron-right.blog-angle {
text-align: center;
display: block;
font-size: 52px;
clear: none;
color: #fff;
margin-top: 50%;
padding-left: 20px;
}

.home-slide a {
white-space: normal;
}
.home-slide{
   background: rgba(43, 43, 43, 0.9);
   margin-right: 25px;
   min-height: 91px;
   transition:background .3s ease;
   padding:5px;
   margin-bottom:50px;
}
.home-slide:hover {
background: rgba(73, 73, 73, 1);
}
.home-slide h1 {
margin-top: 0px;
margin-bottom: 0px;
font-size: 18px;
font-weight: bold;
letter-spacing: 1px;
font-family: 'Roboto Condensed';
text-transform: uppercase;
}
.date{
   color:#929292;
   font-size: 12px;
   font-weight: bold;
   letter-spacing: 1px;
   line-height: 24px;
   text-transform:uppercase;
}
.excerpt{
   color: #929292;
   font-weight: normal;
}

.excerpt p {
color: #929292;
font-size: 13px;
font-family: "Roboto Condensed";
line-height: 18px;
margin-top: 5px;
}

a.btn.btn-read {
position: absolute;
bottom: -31px;
right: 5px;
background: rgba(255,255,255,.85);
color: #3A3A3A!important;
right: 10px;
border-radius: 0px;
padding: 5px 5px 3px 5px;
font-size: 12px;
font-weight: bold;
transition: background .3s ease;
}

a.btn.btn-read:hover {background:rgba(255,255,255,1);}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
color: #FFF!important;
background-color: transparent;
}

/* ==========================================================================
   Music
   ========================================================================== */

.songs-list,
.songs-list-container {
padding: 0px!important;
list-style: none;
}

.lyrics-container {
background: rgba(43, 43, 43, 0.9);
}
#lyrics-base {
max-height: 400px;
overflow: scroll;
min-height: 300px;
}
.lyrics-container pre {
display: block;
font-weight: 100;
padding: 9.5px;
margin: 0 0 10px;
font-size: 14px;
font-family: "Roboto Condensed", sans-serif;
line-height: 1.428571429;
word-break: break-all;
word-wrap: break-word;
color: #DADADA;
background: transparent;
border: 0px solid #ccc;
border-radius: 0px;
}
.songs-list li a span {
display: table-cell;
padding: 13px 15px 13px 0;
line-height: 1;
text-transform: none;
}

.song a {
border-bottom: 1px solid #333333;
   display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;;
width: 100%;
padding: 0px;
margin:0px;
}

.song a:before {display:none;}

.song .lyric-output {display:none;}

.song a.sm2_playing {background: rgba(205,130,185, 0.7); color:#fff;}
.song a.sm2_playing .song-play:before {content:"\f04c";}

li.song {
background: rgba(43, 43, 43, 0.9);
}

p.song-title {
color: #929292;
line-height: 1.7;
margin-right: 15px;
font-size: 12px;
font-weight: bold;
letter-spacing: 1px;
text-align: right;
}
div#audiojs_wrapper0 i {
color: #929292; 
}

.buy-links li a {
background: rgba(255,255,255,.4);
padding: 5px;
border-radius: 2px;
transition: background ease .3s;
}

.buy-links li a:hover {
background: #FFF;
color: #C92D91!important;
}

ul.row.buy-links {
list-style: none;
padding: 15px;
}

ul.songs-list li {
transition: background .1s ease;
}

ul.songs-list li:hover {
background: rgb(65,65,65);
}

/* ==========================================================================
   About
   ========================================================================== */

.row.about-row {
margin-top: 30px;
}

/* ==========================================================================
   PHOTOS
   ========================================================================== */
.photo-container {
position: absolute;
top: 0;
bottom: 0;
right: 0;
left: 0;
}
.photos .content.row, .single-photo-galleries .content.row {
padding-top: 0px;
}
div#slider {
width: 60%;
margin: 0 auto;
}

.photo-full-width{
   background: rgba(43, 43, 43, 0.9);
}

/* ==========================================================================
   VIDEO
   ========================================================================== */

.archive-image.imgLiquid_bgSize.imgLiquid_ready {
margin-bottom: 30px;
}

.video-container .archive-image.video.imgLiquid_bgSize.imgLiquid_ready {
margin-bottom: 0;
}

.video-container h4 {
background-color: #000;
padding: 10px 10px 0px 10px;
margin-top: 0;
margin-bottom: 0;
}

.video-container p {
background-color: #000;
padding: 0px 10px 10px 10px;
margin-top: 0;
color: #929292;
font-size: 12px;
}

/* ==========================================================================
   EVENTS
   ========================================================================== */

div#tribe-events-content h2, a {
color: #FFF!important;
font-family: "Roboto Condensed"!important;
}

/* ==========================================================================
   Footer
   ========================================================================== */

footer {
background: rgba(52,52,52, .9);
width: 100%!important;
margin: 0!important;
position:fixed;
bottom:0;
}

.content-info { }

#social ul {margin:0px; padding:0px; list-style: none;}
#social li {margin:0px; padding: 0px list-style:none; display: block; float:left;}
#social li a {padding: 10px;}

#social-float>ul{
   display: none;
}
  #social-float>ul>li>a>i{
   color: #fff;
   text-decoration: none;
  }
  .credits{
   text-align: center;
  }
#social-float>ul>li>a>i:hover {
color: #13A468!important;
}

 #social-float>#menu-social-navigation > li:nth-child(6){
   margin-right: 10px;
  }
#social-float>#menu-social-navigation>li{
   float: left;
   margin-right: 22px;
   color: #fff;
}
#social-float>ul{
   float: right;
   margin-top: 15px;
   margin-right: 30px;
   position: fixed;
   right: 0;
   bottom: 0;
   background-color: rgba(128,122,128, .33);
   padding: 5px 0px 5px 9px;
   display: block;
   list-style: none;
}
#social-float{
   display: none;
}

/* ==========================================================================
   Events
   ========================================================================== */
#page>div#header {
display: none;
}

#page hr {
display: none;
}
#tribe-events-content .tribe-events-calendar td {
background: #929292;
}
/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }

/*
 *    Core Owl Carousel CSS File
 * v1.3.3
 */

/* clearfix */
.owl-carousel .owl-wrapper:after {
   content: ".";
   display: block;
   clear: both;
   visibility: hidden;
   line-height: 0;
   height: 0;
}
/* display none until init */
.owl-carousel{
   display: none;
   position: relative;
   width: 100%;
   -ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
   display: none;
   position: relative;
   -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
   overflow: hidden;
   position: relative;
   width: 100%;
   min-height: 230px;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
   -webkit-transition: height 500ms ease-in-out;
   -moz-transition: height 500ms ease-in-out;
   -ms-transition: height 500ms ease-in-out;
   -o-transition: height 500ms ease-in-out;
   transition: height 500ms ease-in-out;
}

.owl-carousel .owl-item{
   float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
   cursor: pointer;
}
.owl-controls {
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing {
    cursor:url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
   -webkit-backface-visibility: hidden;
   -moz-backface-visibility:    hidden;
   -ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}

/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
   padding: 0;
   margin: 0;
   border: 0;
   outline: none;
   vertical-align: top;
}

.fancybox-wrap {
   position: absolute;
   top: 0;
   left: 0;
   z-index: 8020;
}

.fancybox-skin {
   position: relative;
   background: #f9f9f9;
   color: #444;
   text-shadow: none;
   -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
           border-radius: 4px;
}

.fancybox-opened {
   z-index: 8030;
}

.fancybox-opened .fancybox-skin {
   -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
           box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
   position: relative;
}

.fancybox-inner {
   overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
   -webkit-overflow-scrolling: touch;
}

.fancybox-error {
   color: #444;
   font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
   margin: 0;
   padding: 15px;
   white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
   display: block;
   width: 100%;
   height: 100%;
}

.fancybox-image {
   max-width: 100%;
   max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
   background-image: url(fancybox_sprite.png);
}

#fancybox-loading {
   position: fixed;
   top: 50%;
   left: 50%;
   margin-top: -22px;
   margin-left: -22px;
   background-position: 0 -108px;
   opacity: 0.8;
   cursor: pointer;
   z-index: 8060;
}

#fancybox-loading div {
   width: 44px;
   height: 44px;
   background: url(fancybox_loading.gif) center center no-repeat;
}

.fancybox-close {
   position: absolute;
   top: -18px;
   right: -18px;
   width: 36px;
   height: 36px;
   cursor: pointer;
   z-index: 8040;
}

.fancybox-nav {
   position: absolute;
   top: 0;
   width: 40%;
   height: 100%;
   cursor: pointer;
   text-decoration: none;
   background: transparent url(blank.gif); /* helps IE */
   -webkit-tap-highlight-color: rgba(0,0,0,0);
   z-index: 8040;
}

.fancybox-prev {
   left: 0;
}

.fancybox-next {
   right: 0;
}

.fancybox-nav span {
   position: absolute;
   top: 50%;
   width: 36px;
   height: 34px;
   margin-top: -18px;
   cursor: pointer;
   z-index: 8040;
   visibility: hidden;
}

.fancybox-prev span {
   left: 10px;
   background-position: 0 -36px;
}

.fancybox-next span {
   right: 10px;
   background-position: 0 -72px;
}

.fancybox-nav:hover span {
   visibility: visible;
}

.fancybox-tmp {
   position: absolute;
   top: -99999px;
   left: -99999px;
   max-width: 99999px;
   max-height: 99999px;
   overflow: visible !important;
}

/* Overlay helper */

.fancybox-lock {
    overflow: visible !important;
    width: auto;
}

.fancybox-lock body {
    overflow: hidden !important;
}

.fancybox-lock-test {
    overflow-y: hidden !important;
}

.fancybox-overlay {
   position: absolute;
   top: 0;
   left: 0;
   overflow: hidden;
   display: none;
   z-index: 8010;
   background: url(fancybox_overlay.png);
}

.fancybox-overlay-fixed {
   position: fixed;
   bottom: 0;
   right: 0;
}

.fancybox-lock .fancybox-overlay {
   overflow: auto;
   overflow-y: scroll;
}

/* Title helper */

.fancybox-title {
   visibility: hidden;
   font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
   position: relative;
   text-shadow: none;
   z-index: 8050;
}

.fancybox-opened .fancybox-title {
   visibility: visible;
}

.fancybox-title-float-wrap {
   position: absolute;
   bottom: 0;
   right: 50%;
   margin-bottom: -35px;
   z-index: 8050;
   text-align: center;
}

.fancybox-title-float-wrap .child {
   display: inline-block;
   margin-right: -100%;
   padding: 2px 20px;
   background: transparent; /* Fallback for web browsers that doesn't support RGBa */
   background: rgba(0, 0, 0, 0.8);
   -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
           border-radius: 15px;
   text-shadow: 0 1px 2px #222;
   color: #FFF;
   font-weight: bold;
   line-height: 24px;
   white-space: nowrap;
}

.fancybox-title-outside-wrap {
   position: relative;
   margin-top: 10px;
   color: #fff;
}

.fancybox-title-inside-wrap {
   padding-top: 10px;
}

.fancybox-title-over-wrap {
   position: absolute;
   bottom: 0;
   left: 0;
   color: #fff;
   padding: 10px;
   background: #000;
   background: rgba(0, 0, 0, .8);
}

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
      only screen and (min--moz-device-pixel-ratio: 1.5),
      only screen and (min-device-pixel-ratio: 1.5){

   #fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
      background-image: url(fancybox_sprite@2x.png);
      background-size: 44px 152px; /*The size of the normal image, half the size of the hi-res image*/
   }

   #fancybox-loading div {
      background-image: url(fancybox_loading@2x.gif);
      background-size: 24px 24px; /*The size of the normal image, half the size of the hi-res image*/
   }
}

/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */


/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

/* Icon Fonts
*********************************/
/* Font-face Icons */
@font-face {
   font-family: 'flexslider-icon';
   src:url('fonts/flexslider-icon.eot');
   src:url('fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'),
      url('fonts/flexslider-icon.woff') format('woff'),
      url('fonts/flexslider-icon.ttf') format('truetype'),
      url('fonts/flexslider-icon.svg#flexslider-icon') format('svg');
   font-weight: normal;
   font-style: normal;
}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* FlexSlider Default Theme
*********************************/
.flexslider { margin: 0px; background: #fff; border: 4px solid #fff; position: relative; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2); -moz-box-shadow: 0 1px 4px rgba(0,0,0,.2); -o-box-shadow: 0 1px 4px rgba(0,0,0,.2); box-shadow: 0 1px 4px rgba(0,0,0,.2); zoom: 1; }
.flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.loading .flex-viewport { max-height: 300px; }
.flexslider .slides { zoom: 1; }
.carousel li { margin-right: 5px; }

/* Direction Nav */
.flex-direction-nav {height: 0;}
.flex-direction-nav a  { text-decoration:none; display: block; width: 40px; height: 40px; margin: -20px 0 0; position: absolute; top: 50%; z-index: 10; overflow: hidden; opacity: 0; cursor: pointer; color: rgba(0,0,0,0.8); text-shadow: 1px 1px 0 rgba(255,255,255,0.3); -webkit-transition: all .3s ease; -moz-transition: all .3s ease; transition: all .3s ease; }
.flex-direction-nav .flex-prev { left: -50px; }
.flex-direction-nav .flex-next { right: -50px; text-align: right; }
.flexslider:hover .flex-prev { opacity: 0.7; left: 10px; }
.flexslider:hover .flex-next { opacity: 0.7; right: 10px; }
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover { opacity: 1; }
.flex-direction-nav .flex-disabled { opacity: 0!important; filter:alpha(opacity=0); cursor: default; }
.flex-direction-nav a:before  { font-family: "flexslider-icon"; font-size: 40px; line-height:1; display: inline-block; content: '\f001'; }
.flex-direction-nav a.flex-next:before  { content: '\f002'; }

/* Pause/Play */
.flex-pauseplay a { display: block; width: 20px; height: 20px; position: absolute; bottom: 5px; left: 10px; opacity: 0.8; z-index: 10; overflow: hidden; cursor: pointer; color: #000; }
.flex-pauseplay a:before  { font-family: "flexslider-icon"; font-size: 20px; display: inline-block; content: '\f004'; }
.flex-pauseplay a:hover  { opacity: 1; }
.flex-pauseplay a.flex-play:before { content: '\f003'; }

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -40px; text-align: center;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -o-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); box-shadow: inset 0 0 3px rgba(0,0,0,0.3); }
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev { opacity: 1; left: 10px;}
  .flex-direction-nav .flex-next { opacity: 1; right: 10px;}
}
/* ==========================================================================
   Media Queries
   ========================================================================== */

/* Extra small devices (phones, up to 480px) */
/* No media query since this is the default in Bootstrap */

@media (max-width:767px) {

.news .wrap.container-fluid, .blog .wrap.container-fluid {
width: 80%;
}

}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {


.overlay {
position: fixed;
top: 0;
bottom: 0;
right: 0;
left: 0;
background: rgba(0,0,0,.7);
}
.home .overlay{
   background: transparent;
}
.news .wrap.container-fluid, .blog .wrap.container-fluid {
width: 90%;
}
div#audio-player {
width: 18%;
float: right;
max-height: 25px;
margin-top: 15px;
}
.video-container {
margin: 0 -5px;
}
   .blog-title{
      text-align: center;
   }
   .about .content p{
      line-height: 1.4;
   }
   .av-bg{
   background-size: cover;
}
#social-float>ul{
   display: block!important;
}
#social-float{
   display: block!important;
}
#social{
   display: none;
}
#social-float > #menu-social-1> li {
float: left;
margin-right: 22px;
color: #fff;
font-size: 36px;
}
.av-bg {
padding: 25px;
}
.sign-up {
margin-top: 90px;
}
.owl-carousel.home-carousel.owl-theme {
}
.archive-image {
width: 100%;
padding-bottom: 50%;
}
.news .archive-image, .blog .archive-image{
width: 100%;
padding-bottom: 30%;
}
.row.blog-arc-single {
margin-bottom: 75px;
}
.content {
padding-top: 70px;
padding-bottom: 50px;
}
.music.type-music {
padding-top: 15vh;
}
h2.album-title {
margin-top: 0px;
}
.video-container {
margin: 0 -15px;
}
 }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

.news .wrap.container-fluid, .blog .wrap.container-fluid {
width: 90%;
}

.gal-hover {
position: fixed;
bottom: 0px;
left: 0;
right: 0;
height: 200px;
z-index: 2;
}
.hover-zone, .hover-zone *{
   z-index: 3;
}

   .container-fluid.col {
margin: 0 5%;
}
#slider.flexslider .slides > li {
height: 92vh;
}
   #lyrics-base {
display: block;
background: transparent;
}
   .owl-carousel .owl-wrapper-outer {
padding: 50px 0px;
}

.av-bg{
   padding-top: 13%;
   padding-bottom: 10%;
   background-position: 50% 50%;
}
.sign-up {
margin-top: 0px;
}
.owl-carousel.home-carousel.owl-theme {
}
.row.about-row {
margin-top: 5vh;
}
 }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

.news .wrap.container-fluid, .blog .wrap.container-fluid {
width: 1200px;
}


}
